*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}




    .navbar{
        margin-top: -10px;
        width: 1550px;
        position: fixed;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .search{
            width: 100%;
            height: 120px;            
            padding: 0px 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #d3c1eb;
            .searchlogo{
                display: none;
            }

            .menu{
                display: none;
            }

            img{
                width: 400px;
            }
            
            i{
                font-size: 28px;
            }

            input[type="text"]{
                height: 40px;
                width: 350px;
                
                border: 3px solid black;
                border-radius: 20px;
                padding: 10px 30px;
                background-color: #dfc9eb;

            }
            input[type="button"]{
                height: 40px;
                color: white;
                border-radius: 20px;
                background-color: #1fab8a;
                padding: 0px 30px;
            }
            
        }
        .nav{
            width: 100%;
            height: 100px;
            padding: 0px 130px;
            background-color: #dfd6f3;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul{
                display: flex;
                gap: 35px;
                font-size: 22px;
                
                
                li{
                    line-height: 100px;
                    padding: 0 10px;
                    cursor: pointer;
                    
                }

                li:hover{
                    
                    color: white;
                    background-color: black;
                }

            }
        }
    }

    .container-self{
        
        width: 1510px;
        min-height: 650px;
        
        padding: 230px 150px 0;
        background-color: #b2aaee;

        .row{
            img{
                height: 400px;
            }
            .bluebutton{
                padding: 7px 20px;
                border-radius: 20px;
                background-color:#3c336c ;
                color: white;
            }
            .nobgbutton{
                border: 0;
                background-color: #b2aaee;
            }
            h5{
                margin-bottom: 30px;
            }
        
        
        
        
        
        }
        
    }

    .container{
        .inform-header{
            font-size: 30px;
        }
        .inform{
            font-weight: 100;
            font-size: 20px;
        }

        .footer{
            margin-top: 30px;
            h5{
                font-weight: 200;
                font-size: 20px;
            }
            h4{
                font-size: 15px;
            }
            img{
                width: 300px;
            }
            ul{
                line-height: 34px;
                li:first-child{
                    font-weight: 800;
                }

                input{
                    border-radius: 20px;
                    padding: 3px 10px;
                    font-size: 16px;
                }
            }
            
                
            
        }
    }


@media (max-width: 415px) {
    .container-self{
        padding: 160px 30px 0;
        max-width: 400px ;
        .header-self{
            h1{
                text-align: center;
                font-weight: 800;

            }
        }
    
    
    }
    .col-self-6{
        width: 50%;
    }

    .container{
        .image{
            img{
                width: 150px;
                height: 100px;
            }
        }
    }
    .navbar{
        max-width: 400px ;
        .search{
            padding: 0 20px;
            .search--button{
                display: none;
            }
            img{
                width: 200px;
            }
            .search--search{
                display: none;
            }
            h2{
                display: none;
        
            }
            .searchlogo{
                display: flex;
            }
            .menu{
                display: flex;
            }
            

        }
        
        .nav{
            padding: 0 20px;
            display: none;
        }
        
    }

}
@media (min-width: 576px) {
    .container-self{
        max-width: 758x ;}

    .navbar{
        max-width: 758px ;
        .search{

            padding: 0 20px;
            .search--button{
                display: none;
            }
            img{
                width: 300px;
            }
            .searchlogo{
                display: flex;
            }
            .menu{
                display: flex;
            }
            padding: 0 20px;
            .search--search{
                display: none;
            }
            h2{
                display: none;
        
            }

        }
        .nav{
            padding: 0 20px;
            display: none;
        }
    }
    
}



.image{
        
    width: 100%;
    margin-bottom: 10px;
    
    img{
        width: 250px;
        height: 200px;
    }
}


@media (min-width: 768px) {
    .container-self{
        max-width: 990px ;}
    .navbar{
        max-width: 990px ;
        .search{
            padding: 0 20px;
            .search--button{
                display: flex;
            }
            
            .search--search{
                display: none;

            } 
            

        }
        .nav{
            padding: 0 20px;
        }
    }

}

@media (min-width: 992px) {
    .container-self{
        max-width: 1196px ;}
    .navbar{
        max-width: 1196px  ;
        .search{
            img{
                width: 300px;
            }
            .searchlogo{
                display: none;
            }
            .menu{
                display: none;
            }

            padding: 0 20px;
            .search--search{
                display: flex;
            }  
            h2{
                display: flex;
            } 

        }
        .nav{
            display: flex;
            padding: 0 20px;
            ul{
                
                gap: 10px;
                font-size: 20px;
        }
        h1{
            font-size: 30px;
        }
    }
}

@media (min-width: 1202px) {
    .container-self{
        max-width: 1400px ;}
    .navbar{
        max-width: 1400px ;
        .search{
            padding: 0px 90px;
            img{
                width: 400px;
            }
            .search--search{
                display: flex;
            }
            h2{
                display: flex;
            }
        }
        
        .nav{
            padding: 0 90px;
            ul{
                display: flex;
                gap: 40px;
                font-size: 22px;}
        }
    }
}
@media (min-width: 1400px) {
    .container-self{
        max-width: 1550px ;}
    
    .navbar{
        max-width: 1550px ;
        .search{
            padding: 0px 130px;
            .search--search{
                display: flex;
            }
            h2{
                display: flex;
            }
        }
        
        .nav{
            padding: 0 130px;
        }
    }
}
}